@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: #232428;

     
}

.container{
    background-color: #313338;
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 20px;
    box-shadow: -10px 10px 15px 2px #1d1d1d;
    
}

img{
    width: 246px;
    height: 105px;
    padding: 10px 10px 10px 30px;
    margin: 0px;
    margin-top: -40px; 
}



.titulo{
    color: #6A5ACD;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 30px;
    white-space: nowrap;
    
}

.esqueceu-senha{
    color: #6A5ACD;
    text-decoration: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    
}

.naotemconta{
    color: #b6b5b4;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    margin-top: 8px;
    white-space: nowrap;
}

.registrar{
    color: #6A5ACD;
    outline: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    
}



.bloco1{
    margin: 0px;
    padding: 0px;

}

.bloco2{
    margin: 20px -20px 20px 40px;
    padding: 10px 10px 10px -20px;
    align-items: baseline;
    
}

.email{
    background-color: transparent;
    border: 2px solid #b6b5b4;
    padding: 5px;
    color: #b6b5b4;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

.senha{
    background-color: transparent;
    border: 2px solid #b6b5b4;
    padding: 5px;
    color: #b6b5b4;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

.frases{
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: -30px;
    color: #b6b5b4;
    font-size: 7px;
    margin: 4px;
    line-height: 3px;
    white-space: nowrap;
    font-family: "Open Sans", sans-serif;
    width: 250px;
    height: 100px;
    align-items: baseline;

}

#icons{
    font-size: 13px;
    margin: 5px;
}

.entrar{
    background-color:#6A5ACD;
    border-radius: 20px;
    border: none;
    color: #b6b5b4;
    font-size: 13px;
    width: 70px;
    height: 30px;
    margin: 5px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 5px;
    cursor: pointer;

}

.dentrodobotao{
    display: flex;
    justify-content: center;
    align-items: center;
}




